<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Új könyv felvétele: </h1>
    <form method="post">
    <label for="suly">
        Cím: 
        <input type="text" required name="title">
    </label>  <br>
    <label for="szem_szin">
        Értékelés: 
        <input type="number" name="rating" required min="1" max="5" step="1">
    </label> <br>
    <button type="submit">Felvesz</button> <br>
    <a href="/">Vissza a főoldalra</a>
</form>

</body>
</html>