<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <form method="get" action="/keres">
        <input type="text" name="ertekeles" id="ertekeles">  
        <button type="submit">Keres</button>
    </form>

    <table style="border: 1px solid;">
        <tr>
            <th>Cím</th>
            <th>Értékelés</th>
        </tr>
        <% for( let book of books ) { %>
            <tr>
                <td>
                    <%= book.title %> 
                </td>
                <td>
                    <%= book.rating %> 
                </td>
            </tr>
        <% } %>
    </table>
    <a href="books/new"><button>Új könyv felvétele</button> </a>
</body>
</html>